@{
    ViewBag.Title = "Help | Aanwezigheden";
}

<ul class="breadcrumb">
    <li>
        <a href="@Url.Action("Index", "Home")">
        <span class="badge badge-warning">Home</span></a> <span class="divider">/</span></li>
    <li class="active">Help - Aanwezigheden wijzigen</li>
</ul>

<h4>Hoe de aanwezigheden van zwemmers wijzigen?</h4>

<p>De aanwezigheden worden per groep en per dag bijgehouden. Je wijzigt deze als volgt:</p>
<p>
    Kies eerst de gewenste trainingsgroep waarvan je de aanwezigheden wilt wijzigen. Klik daarvoor op <strong>Toon trainingsdagen</strong>
</p>
<p>
    <img src="~/Images/Help/Opleidingsdag_2.png"/>
</p>
<p>&nbsp;</p>
<hr/>
Vervolgens kies je de gewenste trainingsdag waarvan je de aanwezigheden wilt instellen:
<p>
    <img src="~/Images/Help/Aanwezigheden_2.png"/>
</p>
<p>&nbsp;</p>
<hr/>
Dan krijg je een lijst van alle zwemmers in die zwemgroep en wijzig je effectief de aanwezigheden van de zwemmers door het vinkje van de zwemmer aan - of uit te vinken.
<p>
    <img src="~/Images/Help/Aanwezigheden.png"/>
</p>
<p>&nbsp;</p>